h1 {
color: #E1E108;
}
body {
    background-image:url('https://peopledotcom.files.wordpress.com/2016/12/jeopardy.jpg?w=2000');
    background-image: auto;
}
    
}
.Categories{
    color:hsla(60, 86%, 49%, 0.58);
    border:1px;
}
.scoreUpdate{
    color: yellow;
}
h5{
    color: yellow;
}

